/* scroll behavior */
html {
    scroll-behavior: smooth;
}

/* universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles for body */
body {
    font-family: "Work Sans", sans-serif;
    font-size: 1em;
}

.first-font {
    font-size: 4em;
    font-weight: bold;
}
.second-font {
    font-size: 2em;
    font-weight: bold;
}

.third-font {
    font-size: 1em;
    font-weight: 600;
}

.fourth-font {
    font-size: 1em;
    font-weight: normal;
}

/* header section */
header {
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    flex-direction: column;
    padding: 0px 0px 40px 0px;
}

.navbar {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 35px 0px;
    display: flex;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar ul .nav-item {
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
}

/* banner section */
.banner {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.banner-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
    align-items: center;
}

.banner-image {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: rgba(255, 144, 14, 1);
    text-decoration: none;
    color: white;
}

.btn-primary:hover {
    border: 1px solid rgba(255, 144, 14, 0.8);
    border-radius: 8px;
    background-color: white;
    color: rgba(255, 144, 14, 1);
    box-shadow: inset 1px 1px 6px 1px rgba(0,0,0,0.26);
    transition: 0.8s;
}

/* feature section */
.feature {
    width: 75%;
    margin: 110px auto;
}

.feature-container {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 73px;
}

.feature-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* description section */
.description {
    width: 75%;
    margin: 100px auto;
}

.description-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    gap: 130px;
}

#text-style {
    border-left: 5px solid rgba(255, 144, 14, 1);
    height: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

.desc-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desc-left .text-box {
    border: none;
    background-color: white;
    box-shadow: 1px 1px 18px 1px rgba(0,0,0,0.05);
    padding: 20px;
    border-radius: 10px;
}

.desc-left .text-box p {
    margin-bottom: 5px;
}

.desc-right {
    max-width: 1440px;
    position: relative;
}

.desc-right img {
    width: 100%;
    height: 708px;
}

.desc-right .info-box {
   background-color: rgba(255, 144, 14, 1); 
   border: none;
   border-radius: 8px;
   padding: 30px;
   color: white;
   width: 300px;
   height: 150px;
   text-align: center;
   position: absolute;
   top: 85%;
   left: -20%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}



/* responsive styling */
@media screen and (max-width: 576px) {
    html {
        font-size: 25px;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .navbar ul .nav-item {
        margin-left: 10px;
        background-color: rgba(255, 144, 14, 1);
        padding: 5px;
        border-radius: 5px;
        color: white;
        text-align: center;
    }

    /* banner section */
    .banner-image img {
        border-radius: 20px;
    }

    .first-font {
        font-size: 3em;
        font-weight: 800;
    }

    /* feature section */
    .feature {
        margin-top: 80px;
    }
    .feature-container {
        flex-direction: column;  
    }

    .feature-image {
        grid-template-columns: repeat(1, 1fr);
    }

    /* description section */
    .description-container {
        flex-direction: column;
        gap: 60px;
    }

    .desc-left {
        width: 100%;
    }

    .desc-right {
        max-width: 576px;
    }

    .desc-right img {
        height: 70%;
    }
}
/* @media screen and (max-width: 786px)
@media screen and (max-width: 992px)
@media screen and (max-width: 1200px) */

@media screen and (max-width: 1400px) {
    html {
        font-size: 16px;
    }
}
